<h1>Admin Page</h1>

<% @users.each do |user| %>
<p>
  ID <%= user.id%>
  <br>
  Username: <%= user.username %>
  <br>
  is_admin? <%= user.is_admin %>
  <br>
</p>
<% end %>

<%= link_to("See all products", products_path) %>
<p>
  <a href = "/logout" class = "btn btn-danger">Logout</a>
</p>