<h1>Your profile</h1>

<p>
  ID: <%= @user.id %>
</p>

<p>
  Username: <%= @user.username %>
</p>

<%= link_to("Edit your profile", users_edit_path) %>


<%= link_to("See all products", products_path) %>